/astroid-version-1.0.0.tar.bz2
/astroid-version-1.0.1.tar.bz2
/astroid-1.1.tar.bz2
/astroid-1.2.1.tar.bz2
/astroid-1.3.4.tar.bz2
/astroid-1.3.6.tar.bz2
/astroid-1.3.7.tar.bz2
/astroid-1.4.1.tar.bz2
/astroid-1.4.1.tar.gz
/astroid-1.4.3.tar.gz
/astroid-1.4.4.tar.gz
